/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/vendor
.env
.env.backup
.env.production
auth.json
npm-debug.log*
yarn-error.log*
*.tsbuildinfo
.DS_Store
*.pem
/.fleet
/.idea
